html{
    font-family: "Rubik", sans-serif;
    color: #444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("../hero.jpg");
    background-size: cover;
    color: #fff;
}

nav{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    padding-top: 32px;
    
}

.header-container{
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-container-inner{
    width: 50%;
}

h1{
    font-size: 52px;
    margin-bottom: 32px;
    font-weight: 900;
    line-height: 1.05;
    
}

p{
    font-size: 20px;
    margin-bottom: 48px;
    line-height: 1.6;
    
}

.btn:link,
.btn:visited{
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    background-color: #e67e22;
    font-weight: 700;
    color: #fff;
    border-radius: 12px;
}
 section{
    padding: 96px 0;
}